RESEND_API_KEY=your_resend_api_key_here
RESEND_FROM_EMAIL=VitalWatch <onboarding@resend.dev>
APP_PUBLIC_URL=http://localhost:4200

MERCADOPAGO_ACCESS_TOKEN=your_mercadopago_access_token_here
MERCADOPAGO_PUBLIC_KEY=your_mercadopago_public_key_here
API_PUBLIC_URL=http://localhost:3000